.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger {
}

.bg-secondary {
  background-color: #141212!important;
}

#mainNav .navbar-brand {
  color: #816c27 !important;
  font-family: initial;
}

.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger {
  color: #665726 !important;
}

.rounded-circle {
}

.experience-job-title {
  font-size: small;
}

.experience-title {
  font-size: initial;
  color: #141212;
}

.team-boxed .item .title {
  font-weight: bold;
  color: #b1a374 !important;
  font-size: 16px;
  text-align: center;
}

.bg-primary {
  background-color: #ffffff!important;
}

.text-white {
  color: #b1a374 !important;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #b1a374 !important;
}

.text-secondary {
  color: #ffffff!important;
}

hr.star-dark {
  border-color: #ffffff;
}

#contact {
  background-color: initial;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #141212 !important;
  color: #fff;
}

#contactCustom {
  background: initial;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #ffffff;
}

.btn-primary {
  background-color: #b1a374;
  border-color: #141212;
}

.btn-primary:hover {
  color: #fff;
  background-color: #52420e;
  border-color: #128f76;
}

.portfolio .portfolio-item .portfolio-item-caption {
  transition: all .5s ease;
  opacity: 0.1;
  background-color: #7d8285;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 0.7;
}

#navbarResponsive {
}

a:active, a:focus, a:hover {
  color: #128f76;
}

